<header>
	<nav class="navbar navbar-dark bg-secondary text-center">
        <div class="container-fluid fw-bold d-flex justify-content-center ">
            <a class="navbar-brand " href="/">CsvUpload</a>
          </div>
	</nav>
</header>
